@{
    ViewData["Title"] = "Home Page";
}

<!-- Introduction -->

<div class="intro">
    <div class="section-intro-title">
        Create receipts for your customers In 3 seconds
    </div>
    <div class="section-intro-paragraph">
        <p>
            Creating web receipts for your customers is easier than before,
            send it as a PDF or send the weblink, either ways, it’s easier than you think
        </p>
    </div>
    <div class="section-intro-email">
        <div class="section-email">Enter Your Email Address</div>
        <div class="section-email-start"><a href="#">Start now!</a></div>
    </div>
</div>

<!-- Services -->

<section class="wrap-services-footer">
    <div class="services-offered">
        <div class="section-services-title">
            Fast-track your business with us
        </div>

        <div class="section-services-paragraph">
            <p>
                Creating web receipts for your customers is easier than before,
                send it as a PDF or send the weblink
            </p>
        </div>
        <div class="services">
            <div class="service">
                <img src="~/img/Icon awesome-user-friends.svg" alt="">
                User-friendly Interface
                <p>
                    Creating web receipts for your customers is easier than before,
                    send it as a PDF or send the weblink, either ways, it’s easier than you think.
                </p>
            </div>
            <div class="service">
                <img src="~/img/Icon awesome-share-square.svg" alt="">
                Export and Sharing Options
                <p>
                    Creating web receipts for your customers is easier than before,
                    send it as a PDF or send the weblink, either ways, it’s easier than you think.
                </p>
            </div>
            <div class="service">
                <img src="~/img/Icon material-business-center.svg" alt="">
                Business Ready Always
                <p>
                    Creating web receipts for your customers is easier than before,
                    send it as a PDF or send the weblink, either ways, it’s easier than you think.
                </p>
            </div>
        </div>
    </div>
    <div class="section-offers">
        <div class="section-offers-title">
            Fast-track your business with us now!
        </div>
        <div class="section-offers-email">
            <div class="section-email">Enter Your Email Address</div>
            <div class="section-email-start"><a href="#">Start now!</a></div>
        </div>
    </div>
</section>